<div class="container-fluid bg-info p-1 text-white">
  <h5 class="text-right">Date: {{currentDate | date: 'dd/mm/yyyy , hh:mm:ss'}}</h5>
  <h3 class="text-center">World Covid Tracker</h3>
</div>

<!--for image-->
<div class="container-fluid bg-custom">
  <div class="form-row">
    <div class="form-group col-md-4 text-white"><label for="">Select Country</label></div>
    <div class="form-group col-md-4">
      <select (change)="getCountry($event.target.value)" class="form-control">
        <option *ngFor="let c of countries">{{c.country}}</option>
      </select>
    </div>
    <div class="form-group col-md-4"><button (click)="getDetails()" class="btn  btn-small btn-primary">Submit</button></div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center text-white bg-success p-3">
         <h3> {{country}} Confirmed </h3>
         <h5>{{cases}}</h5>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center text-white bg-primary p-3">
         <h3> {{country}} Recovered </h3>
         <h5>{{recovered}}</h5>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center text-white bg-danger p-3">
         <h3> {{country}} Deaths </h3>
         <h5>{{deaths}}</h5>
        </div>
      </div>
    </div>

  </div>
</div>

<div>
  <footer style=" text-align: center; padding:5%;">
    <p class="cp-text fixed-bottom">
      STAY HOME STAY SAFE!!
      <br>
      created with ❤ for more Contact 8076306847
      <br>
      ©Copyright & Reserved Design & Developed by sarvagya-ui. All rights reserved.
      
  </p>
  </footer>
</div>





